{%extends 'shared/base.html'%}
{% load static %}

{%block content%}
{{block.supper}}
    

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-lighten-2">tuzwwwa</h1>
        <div class="row center">
          <h5 class="header col s12 light">a curated collection of the best websites in africa</h5>
        </div>
        <div class="row center">
          <a href="{% url 'user_profile' %}" id="download-button" class="btn-large waves-effect waves-light amber lighten-1">SUBMIT A WEBSITE</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="intro_image"></div> 
    
  </div>


  <div class="container">
    <div class="section">

     



      <!-- Project Card Section   -->
      <div class="row">

        {% for project in projects%} 
        <div class="col s12 m4">
          <div class="card">
                <div class="card-image">
                  <img src="{{project.screenshot.url}}">
                  <span class="card-title">{{profile.title}}</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light amber" href="{%url 'vote_page'%}"><i class="material-icons">check</i></a>
                </div>
                <div class="card-content">
                  <p>{{project.description}}</p>
                  <p>{{project.country}}</p>
                </div>
              </div>
        </div>
        {%endfor%}
              
      </div>
      <!-- End Project Card Section -->

      <div class="center">
      <ul class="pagination">
          <li class="disabled " ><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>


    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header col s12 light">Vote</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1518601794912-1af91724e528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Title</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Your opinion matters</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1505148359496-35d8d1ec9645?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer amber">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Categories</h5>
          <p class="grey-text text-lighten-4">browse categories to discover awesome websites</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Categories</h5>
          <ul>
            <li><a class="white-text" href="{% url 'nominees' %}">Nominees</a></li>
            <li><a class="white-text" href="{% url 'site_of_the_day' %}">Site of the Day</a></li>
            <li><a class="white-text" href="{% url 'directory' %}">Directory</a></li>
            <li><a class="white-text" href="{% url 'previous_winners' %}">Previous Winners</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            
<li><a class="white-text" href="/accounts/login">Register/Login</a></li>

<li><a class="white-text" href="/admin">Admin</a></li>

<li><a class="white-text" href="{% url 'all_submissions' %}">Home</a></li>

<li><a class="white-text" href="{% url 'user_profile' %}">Profile</a></li>

<li><a class="white-text" href="{% url 'api' %}">API</a></li>

<li><a class="white-text" href="{% url 'auth_logout' %}">Logout</a></li>

          </ul>
        </div>
      </div>
    </div
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/tc-mwangi">saber_rider</a>
      </div>
    </div>
  </footer>

{%endblock%}


<li><a href="/accounts/login"><i class="material-icons">cloud</i>Register/Login</a></li>
<li><div class="divider"></div></li>
<li><a href="/admin"><i class="material-icons">cloud</i>Admin</a></li>
<li><div class="divider"></div></li>
<li><div class="divider"></div></li>
<li><a href="{% url 'all_submissions' %}"><i class="material-icons">cloud</i>Home</a></li>
<li><div class="divider"></div></li>
<li><a href="{% url 'user_profile' %}"><i class="material-icons">cloud</i>Profile</a></li>
<li><div class="divider"></div></li>
<li><a href="{% url 'api' %}"><i class="material-icons">cloud</i>API</a></li>
<li><div class="divider"></div></li>
<li><a href="{% url 'auth_logout' %}"><i class="material-icons">cloud</i>Logout</a></li>
