{% load bootstrap4 %}
{% load staticfiles %}

<h1>Profile</h1>

{% for pro in profile %}
<img src="{{pro.avatar.url}}" alt="avatar" height="200", width="200">




<p>{{profile.title}}</p>
<p>{{profile.bio}}</p>

<h1>Test Project</h1>
<p>{{profile.title}}</p>

<img src="{{pro.screenshot.url}}" alt="screenshot" height="200", width="200">
<p>{{profile.description}}</p>
<p>{{profile.link}}</p>

{% endfor %}



<h1>Projects</h1>
{%for project in projects%}

    <p>{{project.title}}</p>
    <img src="{{project.screenshot.url}}" alt="screenshot" height="200", width="200">
    <p>{{project.description}}</p>
    <p>{{project.link}}</p>

{%endfor%}
