{%extends 'shared/base.html'%}
{% load static %}

{%block content%}
{{block.supper}}
    

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
       
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{profile.avatar.url}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{profile.username}}<i class="material-icons right">more_vert</i></span>
              <p><a href="">{{profile.bio}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{profile.username}}<i class="material-icons right">close</i></span>
              <p>{{profile.bio}}</p>
            </div>
          </div>
        <!-- <h1 class="header center amber-text text-lighten-2">tuzwwwa</h1>
       <div class="row center">
          <h5 class="header col s12 light">a curated collection of the best websites in africa</h5>
        </div> -->
        <!-- <div class="row center">
          <a href="{% url 'user_profile' %}" id="download-button" class="btn-large waves-effect waves-light amber lighten-1">SUBMIT A WEBSITE</a>
        </div> -->
        <br><br>
        

      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="intro_image"></div> 
    
  </div>


  <div class="container">
    <div class="section">

     



      <!-- Project Card Section   -->
      <div class="row">

        {% for project in projects%} 
        <div class="col s12 m4">
          <div class="card">
                <div class="card-image">
                  <img src="{{project.screenshot.url}}" height="200">
                  <span class="card-title">{{profile.title}}</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light amber" href="{%url 'vote_page'%}"><i class="material-icons">check</i></a>
                </div>
                <div class="card-content">
                  <p>{{project.description}}</p>
                  <p>{{project.country}}</p>
                </div>
              </div>
        </div>
        {%endfor%}
              
      </div>
      <!-- End Project Card Section -->


    </div>
  </div>



 


  <footer class="page-footer amber">
    <div class="container">
      <div class="row">
       
        
     
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/tc-mwangi">saber_rider</a>
      </div>
    </div>
  </footer>

{%endblock%}

