{%extends 'shared/base.html'%}
{% load static %}

{%block content%}
{{block.supper}}



<div class="container">
  <div class="section">

   



    <!-- Project Card Section   -->
    <div class="row">





<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center amber-text text-lighten-2">Vote</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <!-- <a href="{% url 'user_profile' %}" id="download-button" class="btn-large waves-effect waves-light amber lighten-1">SUBMIT A WEBSITE</a> -->
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="intro_image"></div> 
  
</div>


  <ul class="collection">
        <li class="collection-item avatar">
          <img src="https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="" class="circle">
          <span class="title">Username</span> 
         </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </ul>


      </div>
    </div>
  </div>
      {%endblock%}